*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/img/bodybg.gif);
    background-size: contain;
    background-repeat: repeat;
}

.bodyBg{
    position: fixed;
    z-index: -1;
    object-fit: fill;
    background-color: #000;
    
}

.hero{
    width: 100vw;
    height: 100vh;
}

.heroBrandImg{
    border: 1px ridge aqua;
    box-shadow: 0 0 5px lightblue;
    border-radius: 50%;
    width: 25vw;
    transition: box-shadow 0.5s, scale 0.4s;
}

.heroBrandImg:hover{
    box-shadow: 0 0 7px 2px rgba(255, 0, 0, 0.405);
    scale: 1.1;
}

video {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.heroContent{
    position: absolute;
    z-index: 2;
}

.heroContent1:hover{
    content: 'Christo John';
}

.businessCard{
    background: url(assets/img/businessCardBg.jpg);
    background-size: cover;
    color: wheat;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    transition: scale 0.7s;
}

.businessCard:hover{
    scale: 1.1;
}

.heroContent p, .businessCardImg , .businessCardSection1 .businessCardContent p, .businessCardSkills p{
    transition: scale 0.4s;
}

.heroContent p:hover, .businessCardImg:hover,.businessCardContent p:hover, .businessCardSkills p:hover{
    scale: 0.9;
}


.businessCardImg{
    padding: 0 !important;
    margin: 0 !important;
    width: 15vw;
    height: auto;
}

.businessCardContent p{
    margin: 0;
    padding: 0;
    width: fit-content;
    scale: 0.7;
}

.businnesCardConnectSection a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-size: cover;
    transition: opacity 0.2s, border 0.1s, scale 0.3s;
}
.businnesCardConnectSection a:hover{
    border: 2px solid greenyellow;
    opacity: 0.7;
    scale: 1.05;
}

/* backgrounds */
.GitHub{
    background: url(assets/img/GitHub.png) ;   
    background-size: cover;
}

.MuLearn{
    background: url(assets/img/MuLearn.png);
    background-size: cover;
}

.LinkedIn{
    background: url(assets/img/linkedin.png);
    background-size: cover;
}

.Instagram{
    background: url(assets/img/instagram.png);
    background-size: cover;
}

.HTML{
    background: url(assets/img/html.png);
    background-size: cover;
}

.CSS{
    background: url(assets/img/css.png);
    background-size: cover;
}

.JavaScript{
    background: url(assets/img/javascript.png);
    background-size: cover;
}



.businessCardSkills p .skillIcon{
    width: 50px;
    height: 30px !important;
    border-radius: 50%;
    background-size: contain;
    background-color: #fff;
}

