*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* backgroundFixed */
.heroBg, .businessCard, .aboutMe, .businessCardSection1-1{
    background-attachment: fixed;
}

#loadingDiv{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(assets/img/loadingAnime.gif);
    background-position: center;
    background-size: cover;
    z-index: 10;
    display: block;
}

#loadingDiv p{
    position: absolute;
    bottom: 50px;
    text-align: center;
}


body{
    background: url(assets/img/bodybg.gif);
    background-size: contain;
    background-repeat: repeat;
}

.heroBg{
    background-image: url(assets/img/bodyBg2.gif);
    background-position: center;
    background-size: cover;
    background-position: center;
}


.hero{
    width: 100vw;
    height: 100vh;
}

.heroBrandImgLg{
    border: 1px ridge aqua;
    box-shadow: 0 0 5px lightblue;
    width: 25vw;
    height: 25vw;
    transition: box-shadow 0.5s, scale 0.4s;
    opacity: 0.7;
    background-image: url(assets/img/tesnic.ioBrand.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.heroBrandImgSm{
    border: 1px ridge aqua;
    box-shadow: 0 0 5px lightblue;
    width: 40vw;
    height: 40vw;
    transition: box-shadow 0.5s, scale 0.4s;
    opacity: 0.7;
    background-image: url(assets/img/tesnic.ioBrand.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.heroBrandImgLg:hover, .heroBrandImgSm:hover{
    box-shadow: 0 0 7px 5px #000,0 0 1px 5px #ff0000;
    scale: 1.1;
}

.HeroText{
    transition: all 0.5s;
    color: #fff;
}

.HeroText:hover{
    scale: 0.9;
    letter-spacing: 0.2rem;
    color: #00ffbb;
    
}

.heroSpecial{
    opacity: 1;
}


.heroContent{
    position: absolute;
    z-index: 2;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;

}

.heroSpecial{
    display: inline;
    width: 13vw !important;
}


.heroTesnic{
    transition: all 1s;
}

.heroTesnic:hover{
    color: transparent;
    text-shadow: 0 0 2px #fff;
}

.web-dev{
    letter-spacing: 0.5rem;
    transition: all 1s;
    border: 1px solid #acff2f81;
    color: greenyellow;
}
.web-dev:hover{
    box-shadow: 0 0 7px 5px #000,0 0 1px 5px #00ffbb;
    background-color: transparent;
    color: #fff;
}

.businessCard{
    background-image: url(assets/img/businessCardBg.jpg);
    background-size: cover;
    background-position: center;
    color: wheat;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    transition: scale 0.7s;
    padding-bottom: 50vw;
    
}


.businessCardImg , .businessCardSection1 .businessCardContent p, .businessCardSkills p, .name{
    transition: all 0.4s;
}

.businessCardImg:hover,.businessCardContent p:hover, .businessCardSkills p:hover{
    scale: 0.9;
}

.businessCardImg{
    padding: 0 !important;
    margin: 0 !important;
    width: 25vw;
    max-width: 200px;
    object-fit: cover;
    height: auto;
    opacity: 0.7;
}

.name:hover{
    color: aquamarine;
    letter-spacing: 0.2rem;
}


.businessCardContent p{
    width: fit-content;
}


.businnesCardConnectSection a{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    transition: opacity 0.2s, border 0.1s, scale 0.5s;
}

.businnesCardConnectSection a:hover{
    border: 2px solid greenyellow;
    opacity: 0.7;
    scale: 1.5;
    border-radius: 5px;
}

/* backgrounds */
.GitHub{
    background: url(assets/img/GitHub.png);   
    background-size: cover;
    background-position: center;
}

.MuLearn{
    background: url(assets/img/MuLearn.png);
    background-size: cover;
    background-position: center;
}

.LinkedIn{
    background: url(assets/img/linkedin.png);
    background-size: cover;
    background-position: center;
}

.Instagram{
    background: url(assets/img/instagram.png);
    background-size: cover;
    background-position: center;
}

.HTML{
    background: url(assets/img/html.png);
    background-size: cover;
    background-position: center;
}

.CSS{
    background: url(assets/img/css.png);
    background-size: cover;
    background-position: center;
}

.JavaScript{
    background: url(assets/img/javascript.png);
    background-size: cover;
    background-position: center;
}

.w3Schools{
    
    background: url(assets/img/w3Schools.png);
    background-size: cover;
    background-position: center;
}

.unrealEngine{
    
    background: url(assets/img/unrealEngine.png);
    background-size: cover;
    background-position: center;
}

.nodeJs{
    
    background: url(assets/img/nodeJs.jpg);
    background-size: cover;
    background-position: center;
}

.facebook{
    
    background: url(assets/img/facebook.png);
    background-size: cover;
    background-position: center;
}

.businessCardSection1-1{
    background-color: #e6e3e33c;
    width: 92.5%;
}


.businnesCardConnectSection{
    scale: 0.7;
}

.bussCardSupSec1{
    width: 97vw;
}

.bussCardSupSec2{
    float: right;
    border: 2px ridge aqua;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    max-height: 42px;
    border-radius: 5px;
}

.bussCardSupSec2:hover{
    animation: anime1 0.2s ease-in-out forwards;
}

.skillIcon{
    width: 30px;
    height: 30px !important;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    transition: all 0.7s;
}

@keyframes anime1{

    0%{
        box-shadow: 0 0 1px 1px #000,0 0 0px 1px #fff;
    }

    25%{  
        box-shadow: 0 0 7px 5px #000,0 0 1px 5px #fff;
    }

    50%{
        box-shadow: 0 0 1px 1px #000,0 0 5px 1px #fff;
    }

    75%{
        box-shadow: 0 0 9px 5px #000,0 0 1px 5px yellowgreen;
    }

    100%{
            box-shadow: 0 0 1px 1px #000,0 0 0px 1px #fff;
    }
}

@keyframes scaleAnime{
    0%{
        scale: 1;
    }
    50%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }
}



/* AboutMe */
.aboutMe{
    background-attachment: fixed;
    scale: 0.9;
    transition: all 0.5s;
}

.whoAmI{
    letter-spacing: 0.1rem;
    color: #fff;
}

.whoAmI:hover{
    color: aqua;
    scale: 1.1;
    letter-spacing: 0.3rem;
}

.whoAmIPara, .whoAmI{
    transition: all 0.5s;
}

.whoAmIPara:hover{
    scale: 0.8;
    letter-spacing: 0.3rem;
}

.textNoWrap{
    text-wrap: nowrap;
}

.whoAmIParaLong{
    transition: all 0.5s;
}

.whoAmIParaLong:hover{
    scale: 0.7;
    letter-spacing: 0.3rem;

}

/* MyProjects */
.MyProjects{
    width: 100%;
    height: 100%;
    background-image: url(assets/img/comingSoon.gif);
    background-size: cover;
    background-position: center;
}

/* FindMe */

.FindMe{
    background-image: url(assets/img/findMeBg.gif);
    background-size: cover;
    background-position: center;
}
.FindMeItems a{
    width: 30px;
    height: 30px;
    border-radius: 25%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.FindMeItems a:hover{
    scale: 1.5;
}